/* Board Side */

[data-type="jira-copy-comments"].ghx-actions-tools {
	margin-left: 0 !important;
	margin-right: 10px;
    padding: 4px;
	cursor: pointer;
}

[data-type="jira-copy-comments"].pluggable-ops .aui-button {
	padding-left: 6px !important;
}

[data-type="jira-copy-comments"] .aui-icon {
    display: flex;
	height: inherit;
    width: 20px;
    align-self: center;
    margin: 0 2px;
}


.jcc-n-container {
	/*
    flex-shrink: 0;
    align-items: baseline;
    border-width: 0;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    white-space: nowrap;
    background: none;
    color: #42526E !important;
    cursor: pointer;
    height: 2.2857142857142856em;
    line-height: 2.2857142857142856em;
    padding: 0 2px;
    vertical-align: middle;
    width: auto;
    justify-content: center;
	*/
}

.jcc-n-container button {
    -webkit-box-align: baseline;
    align-items: baseline;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    white-space: nowrap;
    background: var(--ds-background-neutral-subtle, none);
    cursor: pointer;
    height: 2.28571em;
    line-height: 2.28571em;
    padding: 0px 2px;
    vertical-align: middle;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    color: var(--ds-text, #42526E) !important;
}

.jcc-n-container button:hover {
    background: var(--ds-background-neutral-subtle-hovered, rgba(9, 30, 66, 0.08));
    text-decoration: inherit;
    transition-duration: 0s, 0.15s;
    color: var(--ds-text, #42526E) !important;
}

.jcc-n-container button:focus {
    outline: none !important;
}

.jcc-n-container button:active {
    background: var(--ds-background-neutral-subtle-pressed, rgba(179, 212, 255, 0.6));
    transition-duration: 0s, 0s;
    color: var(--ds-text, #0052CC) !important;
}

.jcc-n-container button.error {
    color: darkred !important;
}

.jcc-n-container button span {
    display: flex;
    align-self: center;
    margin: 0 2px;
}
